.link, .header a, .navs a {
  float: left;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 12px;
  text-decoration: none;
  line-height: 25px;
  border-radius: 1px;
}
.link > span, .header a > span, .navs a > span {
  color: #967d4e;
}
.link.active, .header a.active, .navs a.active {
  color: #967d4e;
}
.link:hover, .header a:hover, .navs a:hover {
  background-color: #967d4e;
  color: white;
}

.buttons, .service .button, .subscribe .button {
  background-color: #967d4e;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 12px 24px;
  border: 2px solid #967d4e;
}
.buttons:hover, .service .button:hover, .subscribe .button:hover {
  background-color: #35424a;
  border: 2px solid #967d4e;
  color: white;
}

.forms, .service .form, .subscribe .form {
  float: right;
  font-size: 18px;
}

.inputs, .service .input, .subscribe .input {
  font-size: 18px;
  padding: 12px;
  border: none;
  line-height: 20px;
  border-radius: 2px;
  width: 100%;
  margin: 5px 0;
}

.header {
  overflow: hidden;
  background-color: #35424a;
  padding: 20px 120px;
  border-bottom: 3px solid #967d4e;
}
.header a.logo {
  color: white;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.header a.logo:hover {
  background-color: #35424a;
}

.header-right {
  float: right;
}

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  background-color: #f4f4f4;
}

.right {
  float: right;
}

.left {
  float: left;
}

.row {
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

.column-1 {
  float: right;
  width: 30%;
  padding: 10px;
}

.column-2 {
  float: left;
  width: 66%;
}

/* Home page style */
.intro {
  background-image: url("../images/showcase.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 300px;
  padding: 100px 290px;
}
.intro .container {
  width: auto;
}
.intro .title {
  color: white;
  text-align: center;
  font-size: 45px;
  vertical-align: middle;
}
.intro .description {
  color: white;
  text-align: center;
  font-size: 20px;
  vertical-align: middle;
}

.subscribe {
  overflow: hidden;
  background-color: #35424a;
  padding: 20px 180px;
  width: 100%;
}
.subscribe .sub {
  float: left;
  padding: 12px;
  color: white;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.subscribe .input {
  width: 60%;
}
.subscribe .button {
  margin-left: 12px;
  line-height: 25px;
}

.course {
  padding: 80px 250px;
}
.course .card {
  margin: auto;
  text-align: center;
}
.course .title {
  color: black;
}
.course .description {
  color: grey;
}
.course .img {
  max-width: 120px;
}

/* About page style */
.about-us {
  padding: 20px 200px;
}
.about-us .column-1 {
  margin-left: 30px;
  background-color: #35424a;
  color: white;
}
.about-us .description-2 {
  background-color: #35424a;
  color: white;
  padding: 20px;
}

/* About page style */
.service {
  padding: 20px 200px;
}
.service .title {
  margin-bottom: 30px;
}
.service .column-2 {
  margin-bottom: 30px;
}
.service .card {
  padding: 20px;
  margin-bottom: 5px;
  background-color: #e6e6e6;
  border: 1px solid #dddddd;
}
.service .column-1 {
  display: block;
  margin-left: 30px;
  padding: 20px;
  background-color: #35424a;
  color: white;
}
.service .form {
  width: 100%;
}
.service .button {
  line-height: 20px;
  margin-top: 5px;
}

.footer {
  height: 10vh;
  margin: 0;
  padding: 0;
  float: bottom;
}
.footer p {
  background-color: #967d4e;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 10vh;
  padding: 0;
}

@media screen and (max-width: 2000px) {
  .header {
    padding: 20px 100px;
  }

  .intro {
    padding: 80px 220px;
  }

  .subscribe {
    padding: 20px 200px;
  }

  .about-us, .service {
    padding: 20px 160px;
  }

  .course {
    padding: 80px 166.6666666667px;
  }
}
@media screen and (max-width: 1980px) {
  .header {
    padding: 20px 99px;
  }

  .intro {
    padding: 80px 218px;
  }

  .subscribe {
    padding: 20px 198px;
  }

  .about-us, .service {
    padding: 20px 158px;
  }

  .course {
    padding: 80px 165px;
  }
}
@media screen and (max-width: 1960px) {
  .header {
    padding: 20px 98px;
  }

  .intro {
    padding: 80px 216px;
  }

  .subscribe {
    padding: 20px 196px;
  }

  .about-us, .service {
    padding: 20px 156px;
  }

  .course {
    padding: 80px 163.3333333333px;
  }
}
@media screen and (max-width: 1940px) {
  .header {
    padding: 20px 97px;
  }

  .intro {
    padding: 80px 214px;
  }

  .subscribe {
    padding: 20px 194px;
  }

  .about-us, .service {
    padding: 20px 154px;
  }

  .course {
    padding: 80px 161.6666666667px;
  }
}
@media screen and (max-width: 1920px) {
  .header {
    padding: 20px 96px;
  }

  .intro {
    padding: 80px 212px;
  }

  .subscribe {
    padding: 20px 192px;
  }

  .about-us, .service {
    padding: 20px 152px;
  }

  .course {
    padding: 80px 160px;
  }
}
@media screen and (max-width: 1900px) {
  .header {
    padding: 20px 95px;
  }

  .intro {
    padding: 80px 210px;
  }

  .subscribe {
    padding: 20px 190px;
  }

  .about-us, .service {
    padding: 20px 150px;
  }

  .course {
    padding: 80px 158.3333333333px;
  }
}
@media screen and (max-width: 1880px) {
  .header {
    padding: 20px 94px;
  }

  .intro {
    padding: 80px 208px;
  }

  .subscribe {
    padding: 20px 188px;
  }

  .about-us, .service {
    padding: 20px 148px;
  }

  .course {
    padding: 80px 156.6666666667px;
  }
}
@media screen and (max-width: 1860px) {
  .header {
    padding: 20px 93px;
  }

  .intro {
    padding: 80px 206px;
  }

  .subscribe {
    padding: 20px 186px;
  }

  .about-us, .service {
    padding: 20px 146px;
  }

  .course {
    padding: 80px 155px;
  }
}
@media screen and (max-width: 1840px) {
  .header {
    padding: 20px 92px;
  }

  .intro {
    padding: 80px 204px;
  }

  .subscribe {
    padding: 20px 184px;
  }

  .about-us, .service {
    padding: 20px 144px;
  }

  .course {
    padding: 80px 153.3333333333px;
  }
}
@media screen and (max-width: 1820px) {
  .header {
    padding: 20px 91px;
  }

  .intro {
    padding: 80px 202px;
  }

  .subscribe {
    padding: 20px 182px;
  }

  .about-us, .service {
    padding: 20px 142px;
  }

  .course {
    padding: 80px 151.6666666667px;
  }
}
@media screen and (max-width: 1800px) {
  .header {
    padding: 20px 90px;
  }

  .intro {
    padding: 80px 200px;
  }

  .subscribe {
    padding: 20px 180px;
  }

  .about-us, .service {
    padding: 20px 140px;
  }

  .course {
    padding: 80px 150px;
  }
}
@media screen and (max-width: 1780px) {
  .header {
    padding: 20px 89px;
  }

  .intro {
    padding: 80px 198px;
  }

  .subscribe {
    padding: 20px 178px;
  }

  .about-us, .service {
    padding: 20px 138px;
  }

  .course {
    padding: 80px 148.3333333333px;
  }
}
@media screen and (max-width: 1760px) {
  .header {
    padding: 20px 88px;
  }

  .intro {
    padding: 80px 196px;
  }

  .subscribe {
    padding: 20px 176px;
  }

  .about-us, .service {
    padding: 20px 136px;
  }

  .course {
    padding: 80px 146.6666666667px;
  }
}
@media screen and (max-width: 1740px) {
  .header {
    padding: 20px 87px;
  }

  .intro {
    padding: 80px 194px;
  }

  .subscribe {
    padding: 20px 174px;
  }

  .about-us, .service {
    padding: 20px 134px;
  }

  .course {
    padding: 80px 145px;
  }
}
@media screen and (max-width: 1720px) {
  .header {
    padding: 20px 86px;
  }

  .intro {
    padding: 80px 192px;
  }

  .subscribe {
    padding: 20px 172px;
  }

  .about-us, .service {
    padding: 20px 132px;
  }

  .course {
    padding: 80px 143.3333333333px;
  }
}
@media screen and (max-width: 1700px) {
  .header {
    padding: 20px 85px;
  }

  .intro {
    padding: 80px 190px;
  }

  .subscribe {
    padding: 20px 170px;
  }

  .about-us, .service {
    padding: 20px 130px;
  }

  .course {
    padding: 80px 141.6666666667px;
  }
}
@media screen and (max-width: 1680px) {
  .header {
    padding: 20px 84px;
  }

  .intro {
    padding: 80px 188px;
  }

  .subscribe {
    padding: 20px 168px;
  }

  .about-us, .service {
    padding: 20px 128px;
  }

  .course {
    padding: 80px 140px;
  }
}
@media screen and (max-width: 1660px) {
  .header {
    padding: 20px 83px;
  }

  .intro {
    padding: 80px 186px;
  }

  .subscribe {
    padding: 20px 166px;
  }

  .about-us, .service {
    padding: 20px 126px;
  }

  .course {
    padding: 80px 138.3333333333px;
  }
}
@media screen and (max-width: 1640px) {
  .header {
    padding: 20px 82px;
  }

  .intro {
    padding: 80px 184px;
  }

  .subscribe {
    padding: 20px 164px;
  }

  .about-us, .service {
    padding: 20px 124px;
  }

  .course {
    padding: 80px 136.6666666667px;
  }
}
@media screen and (max-width: 1620px) {
  .header {
    padding: 20px 81px;
  }

  .intro {
    padding: 80px 182px;
  }

  .subscribe {
    padding: 20px 162px;
  }

  .about-us, .service {
    padding: 20px 122px;
  }

  .course {
    padding: 80px 135px;
  }
}
@media screen and (max-width: 1600px) {
  .header {
    padding: 20px 80px;
  }

  .intro {
    padding: 80px 180px;
  }

  .subscribe {
    padding: 20px 160px;
  }

  .about-us, .service {
    padding: 20px 120px;
  }

  .course {
    padding: 80px 133.3333333333px;
  }
}
@media screen and (max-width: 1580px) {
  .header {
    padding: 20px 79px;
  }

  .intro {
    padding: 80px 178px;
  }

  .subscribe {
    padding: 20px 158px;
  }

  .about-us, .service {
    padding: 20px 118px;
  }

  .course {
    padding: 80px 131.6666666667px;
  }
}
@media screen and (max-width: 1560px) {
  .header {
    padding: 20px 78px;
  }

  .intro {
    padding: 80px 176px;
  }

  .subscribe {
    padding: 20px 156px;
  }

  .about-us, .service {
    padding: 20px 116px;
  }

  .course {
    padding: 80px 130px;
  }
}
@media screen and (max-width: 1540px) {
  .header {
    padding: 20px 77px;
  }

  .intro {
    padding: 80px 174px;
  }

  .subscribe {
    padding: 20px 154px;
  }

  .about-us, .service {
    padding: 20px 114px;
  }

  .course {
    padding: 80px 128.3333333333px;
  }
}
@media screen and (max-width: 1520px) {
  .header {
    padding: 20px 76px;
  }

  .intro {
    padding: 80px 172px;
  }

  .subscribe {
    padding: 20px 152px;
  }

  .about-us, .service {
    padding: 20px 112px;
  }

  .course {
    padding: 80px 126.6666666667px;
  }
}
@media screen and (max-width: 1500px) {
  .header {
    padding: 20px 75px;
  }

  .intro {
    padding: 80px 170px;
  }

  .subscribe {
    padding: 20px 150px;
  }

  .about-us, .service {
    padding: 20px 110px;
  }

  .course {
    padding: 80px 125px;
  }
}
@media screen and (max-width: 1480px) {
  .header {
    padding: 20px 74px;
  }

  .intro {
    padding: 80px 168px;
  }

  .subscribe {
    padding: 20px 148px;
  }

  .about-us, .service {
    padding: 20px 108px;
  }

  .course {
    padding: 80px 123.3333333333px;
  }
}
@media screen and (max-width: 1460px) {
  .header {
    padding: 20px 73px;
  }

  .intro {
    padding: 80px 166px;
  }

  .subscribe {
    padding: 20px 146px;
  }

  .about-us, .service {
    padding: 20px 106px;
  }

  .course {
    padding: 80px 121.6666666667px;
  }
}
@media screen and (max-width: 1440px) {
  .header {
    padding: 20px 72px;
  }

  .intro {
    padding: 80px 164px;
  }

  .subscribe {
    padding: 20px 144px;
  }

  .about-us, .service {
    padding: 20px 104px;
  }

  .course {
    padding: 80px 120px;
  }
}
@media screen and (max-width: 1420px) {
  .header {
    padding: 20px 71px;
  }

  .intro {
    padding: 80px 162px;
  }

  .subscribe {
    padding: 20px 142px;
  }

  .about-us, .service {
    padding: 20px 102px;
  }

  .course {
    padding: 80px 118.3333333333px;
  }
}
@media screen and (max-width: 1400px) {
  .header {
    padding: 20px 70px;
  }

  .intro {
    padding: 80px 160px;
  }

  .subscribe {
    padding: 20px 140px;
  }

  .about-us, .service {
    padding: 20px 100px;
  }

  .course {
    padding: 80px 116.6666666667px;
  }
}
@media screen and (max-width: 1380px) {
  .header {
    padding: 20px 69px;
  }

  .intro {
    padding: 80px 158px;
  }

  .subscribe {
    padding: 20px 138px;
  }

  .about-us, .service {
    padding: 20px 98px;
  }

  .course {
    padding: 80px 69px;
  }
}
@media screen and (max-width: 1360px) {
  .header {
    padding: 20px 68px;
  }

  .intro {
    padding: 80px 156px;
  }

  .subscribe {
    padding: 20px 136px;
  }

  .about-us, .service {
    padding: 20px 96px;
  }

  .course {
    padding: 80px 68px;
  }
}
@media screen and (max-width: 1340px) {
  .header {
    padding: 20px 67px;
  }

  .intro {
    padding: 80px 154px;
  }

  .subscribe {
    padding: 20px 134px;
  }

  .about-us, .service {
    padding: 20px 94px;
  }

  .course {
    padding: 80px 67px;
  }
}
@media screen and (max-width: 1320px) {
  .header {
    padding: 20px 66px;
  }

  .intro {
    padding: 80px 152px;
  }

  .subscribe {
    padding: 20px 132px;
  }

  .about-us, .service {
    padding: 20px 92px;
  }

  .course {
    padding: 80px 66px;
  }
}
@media screen and (max-width: 1300px) {
  .header {
    padding: 20px 65px;
  }

  .intro {
    padding: 80px 150px;
  }

  .subscribe {
    padding: 20px 130px;
  }

  .about-us, .service {
    padding: 20px 90px;
  }

  .course {
    padding: 80px 65px;
  }
}
@media screen and (max-width: 1280px) {
  .header {
    padding: 20px 64px;
  }

  .intro {
    padding: 80px 148px;
  }

  .subscribe {
    padding: 20px 128px;
  }

  .about-us, .service {
    padding: 20px 88px;
  }

  .course {
    padding: 80px 64px;
  }
}
@media screen and (max-width: 1260px) {
  .header {
    padding: 20px 63px;
  }

  .intro {
    padding: 80px 146px;
  }

  .subscribe {
    padding: 20px 126px;
  }

  .about-us, .service {
    padding: 20px 86px;
  }

  .course {
    padding: 80px 63px;
  }
}
@media screen and (max-width: 1240px) {
  .header {
    padding: 20px 62px;
  }

  .intro {
    padding: 80px 144px;
  }

  .subscribe {
    padding: 20px 124px;
  }

  .about-us, .service {
    padding: 20px 84px;
  }

  .course {
    padding: 80px 62px;
  }
}
@media screen and (max-width: 1220px) {
  .header {
    padding: 20px 61px;
  }

  .intro {
    padding: 80px 142px;
  }

  .subscribe {
    padding: 20px 122px;
  }

  .about-us, .service {
    padding: 20px 82px;
  }

  .course {
    padding: 80px 61px;
  }
}
@media screen and (max-width: 1200px) {
  .header {
    padding: 20px 60px;
  }

  .intro {
    padding: 80px 140px;
  }

  .subscribe {
    padding: 20px 120px;
  }

  .about-us, .service {
    padding: 20px 80px;
  }

  .course {
    padding: 80px 60px;
  }
}
@media screen and (max-width: 1180px) {
  .header {
    padding: 20px 59px;
  }

  .intro {
    padding: 80px 138px;
  }

  .subscribe {
    padding: 20px 118px;
  }

  .about-us, .service {
    padding: 20px 78px;
  }

  .course {
    padding: 80px 59px;
  }
}
@media screen and (max-width: 1160px) {
  .header {
    padding: 20px 58px;
  }

  .intro {
    padding: 80px 136px;
  }

  .subscribe {
    padding: 20px 116px;
  }

  .about-us, .service {
    padding: 20px 76px;
  }

  .course {
    padding: 80px 58px;
  }
}
@media screen and (max-width: 1140px) {
  .header {
    padding: 20px 57px;
  }

  .intro {
    padding: 80px 134px;
  }

  .subscribe {
    padding: 20px 114px;
  }

  .about-us, .service {
    padding: 20px 74px;
  }

  .course {
    padding: 80px 57px;
  }
}
@media screen and (max-width: 1120px) {
  .header {
    padding: 20px 56px;
  }

  .intro {
    padding: 80px 132px;
  }

  .subscribe {
    padding: 20px 112px;
  }

  .about-us, .service {
    padding: 20px 72px;
  }

  .course {
    padding: 80px 100px;
  }
  .course .column {
    width: 50%;
  }
}
@media screen and (max-width: 1100px) {
  .header {
    padding: 20px 55px;
  }

  .intro {
    padding: 80px 130px;
  }

  .subscribe {
    padding: 20px 110px;
  }

  .about-us, .service {
    padding: 20px 70px;
  }

  .course {
    padding: 80px 55px;
  }
}
@media screen and (max-width: 1080px) {
  .header {
    padding: 20px 54px;
  }

  .intro {
    padding: 80px 128px;
  }

  .subscribe {
    padding: 20px 108px;
  }

  .about-us, .service {
    padding: 20px 68px;
  }

  .course {
    padding: 80px 54px;
  }
}
@media screen and (max-width: 1060px) {
  .header {
    padding: 20px 53px;
  }

  .intro {
    padding: 80px 126px;
  }

  .subscribe {
    padding: 20px 106px;
  }

  .about-us, .service {
    padding: 20px 66px;
  }

  .course {
    padding: 80px 53px;
  }
}
@media screen and (max-width: 1040px) {
  .header {
    padding: 20px 52px;
  }

  .intro {
    padding: 80px 124px;
  }

  .subscribe {
    padding: 20px 104px;
  }

  .about-us, .service {
    padding: 20px 64px;
  }

  .course {
    padding: 80px 52px;
  }
}
@media screen and (max-width: 1020px) {
  .header {
    padding: 20px 51px;
  }

  .intro {
    padding: 80px 122px;
  }

  .subscribe {
    padding: 20px 102px;
  }

  .about-us, .service {
    padding: 20px 62px;
  }

  .course {
    padding: 80px 51px;
  }
}
@media screen and (max-width: 1000px) {
  .header {
    padding: 20px 50px;
  }

  .intro {
    padding: 80px 120px;
  }

  .subscribe {
    padding: 20px 120px;
    float: none;
    display: block;
    text-align: center;
  }
  .subscribe .sub {
    float: none;
    display: block;
  }
  .subscribe .form {
    float: none;
  }
  .subscribe .form .input {
    width: 100%;
    margin: 20px 0;
  }
  .subscribe .form .button {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }

  .about-us, .service {
    padding: 20px 80px;
    float: none;
    display: block;
    text-align: center;
  }
  .about-us .button, .service .button {
    width: 100%;
  }
  .about-us .row, .service .row {
    float: none;
  }
  .about-us .row .column-1, .service .row .column-1 {
    margin-left: 0;
  }
  .about-us .row .column-1, .about-us .row .column-2, .service .row .column-1, .service .row .column-2 {
    width: 100%;
  }

  .course {
    padding: 80px 50px;
  }
}
@media screen and (max-width: 980px) {
  .header {
    padding: 20px 49px;
  }

  .intro {
    padding: 80px 118px;
  }

  .subscribe, .about-us, .service {
    padding: 20px 118px;
  }

  .course {
    padding: 80px 49px;
  }
}
@media screen and (max-width: 960px) {
  .header {
    padding: 20px 48px;
  }

  .intro {
    padding: 80px 116px;
  }

  .subscribe, .about-us, .service {
    padding: 20px 116px;
  }

  .course {
    padding: 80px 48px;
  }
}
@media screen and (max-width: 940px) {
  .header {
    padding: 20px 47px;
  }

  .intro {
    padding: 80px 114px;
  }

  .subscribe, .about-us, .service {
    padding: 20px 114px;
  }

  .course {
    padding: 80px 47px;
  }
}
@media screen and (max-width: 920px) {
  .header {
    padding: 20px 46px;
  }

  .intro {
    padding: 80px 112px;
  }

  .subscribe, .about-us, .service {
    padding: 20px 112px;
  }

  .course {
    padding: 80px 46px;
  }
}
@media screen and (max-width: 900px) {
  .header {
    padding: 20px 45px;
  }

  .intro {
    padding: 80px 110px;
  }

  .subscribe, .about-us, .service {
    padding: 20px 110px;
  }

  .course {
    padding: 80px 45px;
  }
}
@media screen and (max-width: 880px) {
  .header {
    padding: 20px 44px;
  }

  .intro {
    padding: 80px 108px;
  }

  .subscribe, .about-us, .service {
    padding: 20px 108px;
  }

  .course {
    padding: 80px 44px;
  }
}
@media screen and (max-width: 860px) {
  .header {
    padding: 20px 43px;
  }

  .intro {
    padding: 80px 106px;
  }

  .subscribe, .about-us, .service {
    padding: 20px 106px;
  }

  .course {
    padding: 80px 43px;
  }
}
@media screen and (max-width: 840px) {
  .header {
    padding: 20px 42px;
  }

  .intro {
    padding: 80px 104px;
  }

  .subscribe, .about-us, .service {
    padding: 20px 104px;
  }

  .course {
    padding: 80px 42px;
  }
}
@media screen and (max-width: 820px) {
  .header {
    padding: 20px 41px;
  }

  .intro {
    padding: 80px 102px;
  }

  .subscribe, .about-us, .service {
    padding: 20px 102px;
  }

  .course {
    padding: 80px 41px;
  }
}
@media screen and (max-width: 800px) {
  .header {
    padding: 20px 40px;
  }

  .intro {
    padding: 80px 100px;
  }

  .subscribe, .about-us, .service {
    padding: 20px 100px;
  }

  .course {
    padding: 80px 40px;
  }
}
@media screen and (max-width: 780px) {
  .header {
    padding: 20px 39px;
  }

  .intro {
    padding: 80px 98px;
  }

  .subscribe, .about-us, .service {
    padding: 20px 98px;
  }

  .course {
    padding: 80px 39px;
  }
}
@media screen and (max-width: 760px) {
  .header {
    padding: 20px 38px;
  }

  .intro {
    padding: 80px 96px;
  }

  .subscribe, .about-us, .service {
    padding: 20px 96px;
  }

  .course {
    padding: 80px 38px;
  }
}
@media screen and (max-width: 740px) {
  .header {
    padding: 20px 37px;
  }

  .intro {
    padding: 80px 94px;
  }

  .subscribe, .about-us, .service {
    padding: 20px 94px;
  }

  .course {
    padding: 80px 37px;
  }
}
@media screen and (max-width: 720px) {
  .header {
    padding: 20px 36px;
  }

  .intro {
    padding: 80px 92px;
  }

  .subscribe, .about-us, .service {
    padding: 20px 92px;
  }

  .course {
    padding: 80px 36px;
  }
}
@media screen and (max-width: 700px) {
  .header {
    padding: 20px 35px;
  }

  .intro {
    padding: 80px 90px;
  }

  .subscribe, .about-us, .service {
    padding: 20px 90px;
  }

  .course {
    padding: 80px 100px;
  }
  .course .column {
    width: 100%;
  }
}
@media screen and (max-width: 680px) {
  .header {
    padding: 20px 20px;
  }
  .header a {
    float: none;
    display: block;
    text-align: center;
  }

  .header-right {
    margin: 10px;
    float: none;
  }

  .intro {
    padding: 80px 88px;
  }

  .subscribe, .about-us, .service {
    padding: 20px 88px;
  }

  .course {
    padding: 80px 68px;
  }

  .about-us, .service {
    padding: 20px 68px;
  }
}
@media screen and (max-width: 660px) {
  .intro {
    padding: 80px 86px;
  }

  .subscribe, .about-us, .service {
    padding: 20px 86px;
  }

  .course {
    padding: 80px 66px;
  }

  .about-us, .service {
    padding: 20px 66px;
  }
}
@media screen and (max-width: 640px) {
  .intro {
    padding: 80px 84px;
  }

  .subscribe, .about-us, .service {
    padding: 20px 84px;
  }

  .course {
    padding: 80px 64px;
  }

  .about-us, .service {
    padding: 20px 64px;
  }
}
@media screen and (max-width: 620px) {
  .intro {
    padding: 80px 82px;
  }

  .subscribe, .about-us, .service {
    padding: 20px 82px;
  }

  .course {
    padding: 80px 62px;
  }

  .about-us, .service {
    padding: 20px 62px;
  }
}
@media screen and (max-width: 600px) {
  .intro {
    padding: 80px 80px;
  }

  .subscribe, .about-us, .service {
    padding: 20px 80px;
  }

  .course {
    padding: 80px 60px;
  }

  .about-us, .service {
    padding: 20px 60px;
  }
}
@media screen and (max-width: 580px) {
  .intro {
    padding: 80px 78px;
  }

  .subscribe, .about-us, .service {
    padding: 20px 78px;
  }

  .course {
    padding: 80px 58px;
  }

  .about-us, .service {
    padding: 20px 58px;
  }
}
@media screen and (max-width: 560px) {
  .intro {
    padding: 80px 76px;
  }

  .subscribe, .about-us, .service {
    padding: 20px 76px;
  }

  .course {
    padding: 80px 56px;
  }

  .about-us, .service {
    padding: 20px 56px;
  }
}
@media screen and (max-width: 540px) {
  .intro {
    padding: 80px 74px;
  }

  .subscribe, .about-us, .service {
    padding: 20px 74px;
  }

  .course {
    padding: 80px 54px;
  }

  .about-us, .service {
    padding: 20px 54px;
  }
}
@media screen and (max-width: 520px) {
  .intro {
    padding: 80px 72px;
  }

  .subscribe, .about-us, .service {
    padding: 20px 72px;
  }

  .course {
    padding: 80px 52px;
  }

  .about-us, .service {
    padding: 20px 52px;
  }
}
@media screen and (max-width: 500px) {
  .intro {
    padding: 80px 70px;
  }

  .subscribe, .about-us, .service {
    padding: 20px 70px;
  }

  .course {
    padding: 80px 50px;
  }

  .about-us, .service {
    padding: 20px 50px;
  }
}
@media screen and (max-width: 480px) {
  .intro {
    padding: 80px 68px;
  }

  .subscribe, .about-us, .service {
    padding: 20px 68px;
  }

  .course {
    padding: 80px 48px;
  }

  .about-us, .service {
    padding: 20px 48px;
  }
}
@media screen and (max-width: 460px) {
  .intro {
    padding: 80px 66px;
  }

  .subscribe, .about-us, .service {
    padding: 20px 66px;
  }

  .course {
    padding: 80px 46px;
  }

  .about-us, .service {
    padding: 20px 46px;
  }
}
@media screen and (max-width: 440px) {
  .intro {
    padding: 80px 64px;
  }

  .subscribe, .about-us, .service {
    padding: 20px 64px;
  }

  .course {
    padding: 80px 44px;
  }

  .about-us, .service {
    padding: 20px 44px;
  }
}
@media screen and (max-width: 420px) {
  .intro {
    padding: 80px 62px;
  }

  .subscribe, .about-us, .service {
    padding: 20px 62px;
  }

  .course {
    padding: 80px 42px;
  }

  .about-us, .service {
    padding: 20px 42px;
  }
}
@media screen and (max-width: 400px) {
  .intro {
    padding: 80px 60px;
  }

  .subscribe, .about-us, .service {
    padding: 20px 60px;
  }

  .course {
    padding: 80px 40px;
  }

  .about-us, .service {
    padding: 20px 40px;
  }
}
@media screen and (max-width: 380px) {
  .intro {
    padding: 80px 58px;
  }

  .subscribe, .about-us, .service {
    padding: 20px 20px;
  }

  .course {
    padding: 80px 38px;
  }

  .about-us, .service {
    padding: 20px 38px;
  }
}
@media screen and (max-width: 360px) {
  .intro {
    padding: 80px 56px;
  }

  .course {
    padding: 80px 36px;
  }

  .about-us, .service {
    padding: 20px 36px;
  }
}
@media screen and (max-width: 340px) {
  .intro {
    padding: 80px 54px;
  }

  .course {
    padding: 80px 34px;
  }

  .about-us, .service {
    padding: 20px 34px;
  }
}
@media screen and (max-width: 320px) {
  .intro {
    padding: 80px 52px;
  }

  .course {
    padding: 80px 32px;
  }

  .about-us, .service {
    padding: 20px 32px;
  }
}
@media screen and (max-width: 300px) {
  .intro {
    padding: 80px 20px;
  }

  .course {
    padding: 80px 20px;
  }

  .about-us, .service {
    padding: 20px 30px;
  }
}

/*# sourceMappingURL=style.css.map */
