.footer {
    height: 10vh;
    margin: 0;
    padding: 0;
    float: bottom;
    p {
        background-color: $primary;
        color: white;
        text-align: center;
        vertical-align: middle;
        line-height: 10vh;
        padding: 0;
    }
}