.header {
    overflow: hidden;
    background-color: $primary-dark;
    padding: 20px 120px;
    border-bottom: 3px solid $primary;
    a {
        @extend .link;
        &.logo {
            @include fontWeight(25px, bold);
            &:hover {
                background-color: $primary-dark;
            }
        }
    }
}
.header-right {
    float: right;
}