* {box-sizing: border-box;}

body, html {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    background-color: $background-page;
}

.right {
    float: right;
}
.left {
    float: left;
}
.row {
    display: table;
    clear: both;
}
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
}
.column-1 {
    float: right;
    width: 30%;
    padding: 10px;
}
.column-2 {
    float: left;
    width: 66%;
}

/* Home page style */
.intro {
    background-image: url("../images/showcase.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 300px;
    padding: 100px 290px;
    .container {
        width: auto;
    }
    .title {
        @include fontSize(45px);
        vertical-align: middle;
    }
    .description {
        @include fontSize(20px);
        vertical-align: middle;
    }
}
.subscribe {
    overflow: hidden;
    background-color: $primary-dark;
    padding: 20px 180px;
    width: 100%;
    .sub {
        float: left;
        padding: 12px;
        @include fontWeight(25px, bold);
    }
    .form {
        @extend .forms;
    }
    .input {
        @extend .inputs;
        width: 60%;
    }
    .button {
        @extend .buttons;
        margin-left: 12px;
        line-height: 25px;
    }
}
.course {
    padding: 80px 250px;
    .card {
        margin: auto;
        text-align: center;
    }
    .title {
        color: black;
    }
    .description {
        color: grey;
    }
    .img {
        max-width: 120px;
    }
}
/* About page style */
.about-us {
    padding: 20px 200px;
    .column-1 {
        margin-left: 30px;
        background-color: $primary-dark;
        color: white;
    }
    .description-2 {
        background-color: $primary-dark;
        color: white;
        padding: 20px;
    }
}
/* About page style */
.service {
    padding: 20px 200px;
    .title {
        margin-bottom: 30px;
    }
    .column-2 {
        margin-bottom: 30px;
    }
    .card {
        padding: 20px;
        margin-bottom: 5px;
        background-color: #e6e6e6;
        border: 1px solid #dddddd;
    }
    .column-1 {
        display: block;
        margin-left: 30px;
        padding: 20px;
        background-color: $primary-dark;
        color: white;
    }
    .form {
        @extend .forms;
        width: 100%;
    }
    .input {
        @extend .inputs;
    }
    .button {
        @extend .buttons;
        line-height: 20px;
        margin-top: 5px;
    }
}