@while $maxWidth > 200 {
    @media screen and (max-width: #{$maxWidth}px) {
        @if $maxWidth >= 700 {
            .header {padding: $_20px #{$maxWidth / 20}px;}
        } @else if $maxWidth == 680 {
            .header {padding: $_20px $_20px;a {float: none;display: block;text-align: center;}}
            .header-right {margin: 10px; float: none;}
        }
        @if $maxWidth >= 320 {
            .intro {padding: $_80px #{($maxWidth / 10) + 20}px;}
        } @else if $maxWidth == 300 {
            .intro {padding: $_80px $_20px;}
        }
        @if $maxWidth >= 1020 {
            .subscribe {padding: $_20px #{$maxWidth / 10}px;}
            .about-us, .service {padding: $_20px #{($maxWidth / 10) - 40}px;}
        } @else if $maxWidth == 1000 {
            .subscribe {
                padding: $_20px 120px;float: none;display: block;text-align: center;
                .sub {float: none;display: block;}
                .form {
                    float: none;
                    .input {width: 100%;margin: $_20px 0;}
                    .button {width: 100%;margin: 0;margin-bottom: $_10px;}
                }
            }
            .about-us, .service {
                padding: $_20px $_80px;
                float: none;display: block;text-align: center;
                .button {width: 100%;}
                .row {float: none;.column-1 {margin-left: 0;}.column-1, .column-2 {width: 100%;}}
            }
        } @else if $maxWidth >= 400 {
            .subscribe, .about-us, .service {padding: $_20px #{($maxWidth / 10) + 20}px;}
        } @else if $maxWidth == 380 {
            .subscribe, .about-us, .service {padding: $_20px $_20px;}
        }

        @if $maxWidth >= 1400 {
            .course {padding: $_80px #{($maxWidth / 12)}px;}
        } @else if $maxWidth >= 1140 {
            .course {padding: $_80px #{($maxWidth / 20)}px;}
        } @else if $maxWidth == 1120 {
            .course {padding: $_80px 100px;.column {width: 50%;}}
        } @else if $maxWidth >= 720 {
            .course {padding: $_80px #{($maxWidth / 20)}px;}
        } @else if $maxWidth == 700 {
            .course {padding: $_80px 100px;.column {width: 100%;}}
        } @else if $maxWidth >= 320 {
            .course {padding: $_80px #{($maxWidth / 10)}px;}
            .about-us, .service {padding: $_20px #{($maxWidth / 10)}px;}
        } @else if $maxWidth == 300 {
            .course {padding: $_80px  $_20px;}
            .about-us, .service {padding: $_20px #{($maxWidth / 10)}px;}
        }
    }
    $maxWidth: $maxWidth - 20;
}