.buttons {
    background-color: $primary;
    @include fontSize(18px);
    padding: 12px 24px;
    border: 2px solid $primary;
    &:hover {
        background-color: $primary-dark;
        border: 2px solid $primary;
        color: white;
    }
}