.link {
    float: left;
    @include fontSize(18px);
    padding: 12px;
    text-decoration: none;
    line-height: 25px;
    border-radius: 1px;
    &> span {
        color: $primary;
    }
    &.active {
        color: $primary;
    }
    &:hover {
        background-color: $primary;
        color: white;
    }
}