$gray: rgb(243, 242, 241);
$green: rgb(33, 115, 70);
$gray-dark: rgb(230, 230, 230);
$gray-darker: rgb(205, 205, 205);
$primary: #967d4e;
$primary-dark:  #35424a;
$background-page:  #f4f4f4;

$maxWidth: 2000;
$_20px: 20px;
$_10px: 10px;
$_80px: 80px;

@mixin fontSize($size: 14px) {
    color: white;
    text-align: center;
    font-size: $size;
}
@mixin fontWeight($size: 14px, $weight: bold) {
    @include fontSize($size);
    font-weight: $weight;
}